* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --main-bg-color: #ea8383;
  --fade-in: ease 0.2s;
  --main-font: 'Bad Script', cursive;
}

body {
  font-family: var(--main-font);
  cursor: default;
}

p,
a {
  font-family: 'Raleway', sans-serif;
}

a,
span {
  color: var(--main-bg-color);
  cursor: pointer;
}

.highlighted {
  color: var(--main-bg-color);
}

/********************* NAV *********************/

nav {
  position: sticky;
  height: 18vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg-color);
  text-align: center;
}

.logo {
  height: 80%;
  position: absolute;
  left: 4rem;
  cursor: pointer;
}

.main-title {
  font-size: 3rem;
  color: white;
}

.nav-button {
  position: absolute;
  right: 4rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.75rem;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 3px;
  cursor: pointer;
}

.nav-button:hover {
  color: var(--main-bg-color);
  transition: var(--fade-in);
}

/********************* HOME CONTENT *********************/

.country-label-container,
.cuisine-label-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.country-labels {
  margin-top: 1rem;
  padding: 1rem;
}
.cuisine-labels {
  margin-top: 1rem;
  padding: 0.6rem;
}

.country-labels:first-child {
  border-right: solid 1px black;
}

.cuisine-labels {
  border-right: solid 1px black;
}

.cuisine-labels:last-child {
  border-right: solid 1px rgba(0, 0, 0, 0);
}

.country-labels h2,
.cuisine-labels h4 {
  cursor: pointer;
}
.country-labels h2:hover,
.cuisine-labels h4:hover {
  cursor: pointer;
  color: var(--main-bg-color);
  transition: var(--fade-in);
}

/********************* RESTAURANT CARDS *********************/

.restaurant-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 2rem 3rem;
}

.restaurant-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  text-align: center;
  background-color: white;
  filter: drop-shadow(0px 4px 3px rgba(139, 139, 139, 0.377));
  border-radius: 4px;
  margin: 1rem 3rem;
  padding: 1rem;
  position: relative;
  min-height: 300px;
}

.restaurant-name {
  text-transform: capitalize;
  border-bottom: solid 1px black;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.postcode {
  text-transform: uppercase;
}

.price {
  position: absolute;
  top: 5px;
  left: 10px;
  color: var(--main-bg-color);
}

.cuisine {
  position: absolute;
  top: 5px;
  right: 10px;
  color: var(--main-bg-color);
}

/********************* LOGIN CONTAINER *********************/

.login-container {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.login-container h1 {
  font-size: 3rem;
}

.login-container form {
  margin: 2rem 0;
  display: flex;
  position: relative;
}

.login-container form input {
  padding: 1rem 1rem;
  width: 375px;
  border: solid 1px black;
  font-size: 1.25rem;
  border-radius: 3px 0 0 3px;
}

.login-container form label {
  position: absolute;
  top: -30px;
}

.login-container form button {
  font-size: 1.5rem;
  padding: 0.75rem 0.5rem;
  font-family: var(--main-font);
  background-color: var(--main-bg-color);
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}

textarea:focus,
input:focus {
  outline: solid var(--main-bg-color) 2px;
}

/********************* ADD RESTAURANT *********************/

.welcome-titles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0rem 4rem;
}

.add-restaurant-container form {
  display: grid;
  margin: 0 4rem;
  grid-template-areas:
    'a a . . b b b'
    'c c . . d d d'
    'e e . . f f f'
    'g g g . . h .'
    'g g g . . i .'
    '. . . . . o .'
    'j . . . . . .';
  padding: 0.5rem;
  background-color: #fff0f0;
  position: relative;
}

.add-restaurant-container form input {
  padding: 1rem;
  margin: 1rem;
}

.add-restaurant-container select {
  margin: 1rem 0;
}

.add-restaurant-container textarea {
  font-family: var(--main-font);
  padding: 0.5rem;
  margin: 1rem;
  font-size: 1rem;
}

.add-restaurant-container button {
  font-family: var(--main-font);
  padding: 0.5rem;
  margin: 1rem;
  background-color: var(--main-bg-color);
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  color: white;
  font-size: 1.25rem;
  cursor: pointer;
}

.name {
  grid-area: a;
}

.website {
  grid-area: c;
}

.postcode {
  grid-area: e;
}

.comment {
  grid-area: g;
}

.must-1 {
  grid-area: b;
}
.must-2 {
  grid-area: d;
}

.must-3 {
  grid-area: f;
}

.cuisine-select {
  grid-area: h;
}

.city {
  grid-area: o;
}

.add-restaurant-button {
  grid-area: j;
}

.budget {
  grid-area: i;
}

form input::placeholder,
textarea::placeholder,
select {
  font-family: var(--main-font);
  font-size: 1rem;
  color: black;
}
